:root {
    --bg: #555550;
    --bghi: #40403c;
    --text: #eee;
    --texthi: #afa;
    --textlo: #aaa;
    --textinv: #000;
    --link: #9fb79f;
    --bg2: #608060;
    --text2: #000;
    --text2hi: #fff;
    --text2inv: #fff;
    --bg3: #ddd;
    --text3: #333;
}

body {
    font-family: sans-serif;
    background-color: var(--bg);
    background-color: var(--text);
    margin: 0;
    padding: 0;
}

main {
    padding: 2rem;
}

nav.tabs {
    display: flex;
    justify-content: flex-start;
}

nav.tabs a,
nav.tabs {
    background-color: var(--bg3);
    color: var(--text3);
}

nav.tabs a {
    text-decoration: none;
    padding: 5px 0.5rem;
}

nav.tabs a.selected,
nav.tabs a:hover {
    background-color: var(--bg2);
    color: var(--text2hi);
    text-decoration: none;
}

.kwict {
    padding-left: 15em;
}

.kwicl {
    width: 30em;
    display: inline-block;
    text-align: right;
    padding-right: 0.5em;
}

td.nb {
    text-align: right;
    padding-right: 1rem;
}

p {
    text-indent: 2rem;
    margin: 0;
}

div.lg {
    margin: 1rem 0 1rem 2rem;
}

div.l {
    margin: 1rem 0 1rem 2rem;
}

div.lg div.l {
    margin: 0;
}

span.pb::before {
    content: '';
    display: block;
}

span.pb {
    color: var(--textlo);
    font-size: 75%;
}

/* doc.php */

div.reader {
    display: flex;
}

div.reader div.doc {
    width: 40rem;
}


div.reader div.prev,
div.reader div.next {
    width: 5rem;
}
div.reader div.prev a,
div.reader div.next a{
    display: table-cell;
    vertical-align:middle;
    font-size: 10rem;
    text-decoration: none;
    color:#ccc;
    height: 100%;
    position: fixed;
}
div.reader div.prev a:hover,
div.reader div.next a:hover {
    background-color: #fff;
}