:root {
    --bg: #fff;
    --text: #333;
    --bghi: #e09143;
    --texthi: #fff;
    --bglo: rgb(236, 214, 190);
    --bgloa: rgba(236, 214, 190, 0.85);
    --textlo: #666;
    --textinv: #000;
    --link: #e09143;
    --bg2: rgb(102, 102, 102);
    --bg2a: rgba(102, 102, 102, 0.8);
    /*
    --bg2: rgba(71, 50, 29, 0.8);
    --bg2a: rgba(71, 50, 29, 0.8);
    */
    --text2: rgb(236, 214, 190);
    --text2hi: #fff;
    --text2inv: #fff;
    --bg3: #f0f0f0;
    --text3: #666;
}

html,
body {
    height: 100%
}


/* default sizing */

input,
button,
table,
td,
code,
dd {
    font-size: inherit;
    font-family: inherit;
}


/* layout 
#all
    #header
    #content
    #footer

*/

#all {
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content {
    flex-grow: 4;
    position: relative;
    padding: 2rem 2rem 5rem 2rem;
}

@media (min-width: 992px) {
    body {
        font-size: 16px;
    }
    .container {
        max-width: 900px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
    .container {
        max-width: 1100px;
    }
}

@media (min-width: 1500px) {
    body {
        font-size: 21px;
    }
    .container {
        max-width: 1400px;
    }
}

#content .container {
    margin-left: auto;
    margin-right: auto;
}

main article {
    background-color: var(--bg);
    width: 100%;
}

#footer {
    width: 100%;
    background-color: var(--bg2);
    color: var(--text2);
}

body {
    font-family: sans-serif;
    background-color: var(--bglo);
    color: var(--text);
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


/* Global layout */

html,
body {
    height: 100%;
    position: relative;
}

body {
    overflow-y: scroll;
}


/* */

div.banner {
    position: relative;
    color: var(--bg2);
}

div.banner img.banner {
    display: block;
    width: 100%;
}

div.banner .titles {
    position: absolute;
    font-weight: bold;
    top: 1vw;
    left: 2vw;
    background-color: var(--bgloa);
    box-shadow: 0px 0px 0.2vw var(--bglo);
}

div.banner .title {
    font-size: 4vw;
    line-height: 100%;
}

div.banner .titlesub {
    font-size: 3vw;
}

div.banner .moto {
    font-size: 2.2vw;
    line-height: 100%;
    font-weight: bold;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    padding: 0.5ex 1em;
    background-color: var(--bgloa);
    box-shadow: 0px 0px 0 var(--bglo);
}

#header {
    background-color: var(--bg2);
    color: var(--text2);
}

#page {
    position: relative;
    margin: 2rem 2rem;
}

#body {
    position: relative;
    display: flex;
}

#aside {
    background-color: var(--bg3);
    color: var(--text3);
    padding: 1rem 0 1rem 1rem;
}

#main {
    background-color: var(--bg);
    color: var(--text);
    position: relative;
}

#main>header {
    padding: 1rem;
    background-color: var(--link);
    color: var(--bg);
    position: relative;
    position: -webkit-sticky;
    position: sticky;
}

#main>header h1 {
    margin: 0;
}

main article {
    padding: 3vw;
}


/** simple tags */

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav.tabs {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 2rem 0 2rem;
}

nav.tabs a,
nav.tabs {
    color: var(--text2);
}

nav.tabs a.tab {
    display: block;
    text-decoration: none;
    padding: 0.2rem 0.5rem 0.7rem 0.5rem;
    font-variant: small-caps;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

nav.tabs a.tab.selected,
nav.tabs a.tab:hover {
    background-color: var(--bglo);
    color: var(--bg2);
    text-decoration: none;
}

nav.tabs form.selected {
    background-color: var(--bglo);
    color: var(--bg2);
}

form.qform {
    padding: 0 1ex;
}

form.qform div {
    white-space: nowrap;
    text-align: center;
}

textarea:focus,
input:focus {
    outline: none;
}

form.qform input.q {
    width: 25ex;
    border: none;
    padding: 4px 1ex 3px 1ex;
}

#logos {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#logos>* {
    display: block;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

#logos>* img {
    display: inline-block;
    height: 80px;
}

#logos>*:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.kwict {
    padding-left: 15em;
}

.kwicl {
    width: 30em;
    display: inline-block;
    text-align: right;
    padding-right: 0.5em;
}

td.nb {
    text-align: right;
    padding-right: 1rem;
}

p {
    text-indent: 2rem;
    margin: 0;
}

div.lg {
    margin: 1rem 0 1rem 2rem;
}

div.l {
    margin: 1rem 0 1rem 2rem;
}

div.lg div.l {
    margin: 0;
}


/* biblio */

span.editor {
    color: var(--link);
}


/* doc.php */

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul ul {
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
}

span.pb[data-page]::before {
    color: var(--textlo);
    content: " [p." attr(data-page) "]";
    display: block;
    text-align: right;
}

wbr.milestone[data-n]::after {
    content: " (" attr(data-n) ") ";
    display: inline;
    margin: 1em;
}

span.lb::before {
    white-space: pre;
    content: '\A';
}

span.pb[data-line]::after,
span.lb[data-line]::after {
    text-indent: 0;
    font-size: 0.7rem;
    font-weight: normal;
    display: inline-block;
    content: attr(data-line) " ";
    width: 2rem;
    color: var(--textlo);
}

nav.toc,
div.toc {
    background-color: var(--bg3);
    color: var(--bg2);
    padding: 1rem 0 10vh 1rem;
}

nav>a,
div.toc>a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--bg2);
    font-size: 80%;
}

div.toc a {
    padding: 0.1rem 1rem 0.1rem 0;
}

nav.bibl>a {
    padding: 0.1rem 0.1rem 0.1rem 0.5rem;
    text-indent: -1.5rem;
    padding-left: 2rem;
}

nav>a:hover,
div.toc a:hover {
    background-color: var(--bg);
    color: var(--text);
    text-decoration: none;
}

div.toc a.selected {
    background-color: var(--bg);
    color: var(--text);
}

div.toc a.selected:hover {
    color: var(--link);
}

div.toc a small {
    color: var(--text);
}

div.doc {
    width: 40em;
    background-color: var(--bg);
    color: var(--text);
    position: relative;
    padding: 0 0 10vh 0;
}

div.text {
    background-color: var(--bg);
    padding: 1rem;
}


/* generated title */

#navs nav>h2,
div.doc>h1 {
    background-color: var(--bg2);
    color: var(--bg);
    margin: 0;
    padding: 0.5rem 2rem;
    text-align: center;
    font-size: 115%;
    font-weight: 500;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

h1.title * {
    color: inherit;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

div.reader {
    position: relative;
    display: flex;
}

div.reader div.prev,
div.reader div.next {
    width: 5rem;
}

div.reader div.prev a,
div.reader div.next a {
    display: table-cell;
    vertical-align: middle;
    font-size: 10rem;
    text-decoration: none;
    color: #ccc;
    height: 100%;
    position: fixed;
}

div.reader div.prev a:hover,
div.reader div.next a:hover {
    background-color: #fff;
}


/** biblio */

.edition a {
    display: block;
    text-decoration: none;
    padding: 0.1rem 1rem;
    color: inherit;
    font-weight: normal;
}

div.edition a:hover {
    background-color: var(--bghi);
    color: var(--texthi);
}

div.edition a:hover * {
    color: inherit;
}


/** Concordance */

div.conc {
    background-color: var(--bg);
}

div.conc header {
    padding: 1rem;
}

h4.doc {
    margin: 0.5rem 0;
    font-weight: normal;
}

h4.doc a {
    display: block;
    padding: 0 1rem;
    background-color: var(--bg2);
    color: var(--bg);
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

h4.doc a * {
    color: inherit;
}

h4.doc a:hover {
    border-bottom: 1px solid;
}

.doc a:hover {
    color: var(--text2hi);
}


/** table of words */

table.freqs {
    background-color: var(--bg);
}

td.orth a,
td.lem a {
    display: block;
    text-decoration: none;
    padding: 0 1rem;
}

td.orth a:hover,
td.lem a:hover {
    color: var(--bg);
    background-color: var(--link);
}


/** Static texts */

article.text {
    max-width: 80ex;
    margin-left: auto;
    margin-right: auto;
}

article.text p {
    text-align: justify;
}

section.footnotes {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

hr.footnotes {
    width: 15%;
    text-align: left;
    text-align: -moz-left;
    margin-right: auto;
    margin-left: 0;
}

.noteref,
.pb,
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.note:target::after {
    display: inline-block;
    content: "☞";
    font-size: 16px;
    position: absolute;
    top: 0;
    left: -16px;
}

.note:target {
    background-color: #FFFFEE;
}

.note {
    line-height: 1.25;
    font-size: 90%;
    margin: 1px 0 1rem 0;
    clear: both;
}

.note blockquote {
    margin: 0.5rem 0rem 0.5rem 2rem;
}

.note p {
    margin: 0;
    line-height: inherit;
    text-indent: 1rem;
    text-indent: 1rem;
}

.note p.noindent,
.note p.autofirst {
    text-indent: 0;
}

p.note {
    text-indent: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.notes-abc,
.notes-123,
.notes-misc {
    margin-top: 0.5rem;
}

.note-page {
    font-size: 0.8rem;
}

.note-margin-left {
    float: left;
    margin-left: -2rem;
    margin-right: 0.5rem;
}

a.noteref {
    font-size: 60%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.4em;
}

a.noteref sup {
    font-size: 100%;
}

a.noteref,
a.noteback {
    font-family: sans-serif;
    text-decoration: none;
    border-bottom: none;
    font-style: normal;
    font-variant: normal;
    padding-right: .1em;
    /* note sep */
}

a.noteback {
    font-size: 85%;
}


/** biblio */

section.opus {
    margin: 0;
    padding: 2rem 0 0 0;
    color: var(--bg2);
}

section.opus h1 {
    margin: 0;
}

section.opus p {
    margin: 0;
    text-indent: 0;
}

section.opus>.note {
    margin: 0.5rem 0 0 0;
}

section.opus .edition {
    margin: 0.5rem 0 0 2rem;
}

section.opus div.titlesh section.opus div.title {
    font-style: italic;
}

.AbbrEnCGT::before {
    content: '(CGT) ';
}

.surname {
    /* font-variant: small-caps; */
}

.editors .surname {
    color: var(--text);
    font-weight: bold;
}

a.external {
    text-indent: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: top 50% right 0;
    padding-right: 1em;
    background-image: url('data:image/svg+xml;utf-8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17 13.5v6H5v-12h6m3-3h6v6m0-6-9 9" class="icon_svg-stroke" stroke="%23666" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
}

a.external:hover {
    text-decoration: none;
    color: var(--link);
    background-image: url('data:image/svg+xml;utf-8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17 13.5v6H5v-12h6m3-3h6v6m0-6-9 9" class="icon_svg-stroke" stroke="%23e09143" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
}

h1 a.fichtner {
    font-size: 80%;
}

a.opus {
    display: inline;
    padding: 0;
    color: var(--link);
}

#traites {
    position: relative;
    display: flex;
    padding: 0;
}

#traites #navs {
    order: -1;
    flex-shrink: 0;
    width: 25vw;
    height: 100vh;
    position: sticky;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: var(--bg3);
    color: var(--bg2);
    padding: 0 0 10vh 0;
}

#navs select {
    font-family: inherit;
    font-size: inherit;
    top: 0;
    width: 100%;
    position: sticky;
    margin-bottom: 2rem;
}

#biblio {
    padding: 2rem;
}