:root {
    --bg: #fff;
    --text: #333;
    --bghi: #e09143;
    --texthi: #fff;
    --bglo: rgb(236, 214, 190);
    --bgloa: rgba(236, 214, 190, 0.85);
    --textlo: #666;
    --textinv: #000;
    --link: #e09143;
    /*
    --bg2: rgb(69, 78, 92);
    --bg2a: rgba(69, 78, 92, 0.8);
    */
    --bg2: rgba(71, 50, 29, 0.8);
    --bg2a: rgba(71, 50, 29, 0.8);
    --text2: rgb(236, 214, 190);
    --text2hi: #fff;
    --text2inv: #fff;
    --bg3: #f0f0f0;
    --text3: #666;
}

html,
body {
    height: 100%
}


/* default sizing */

input,
button,
table,
td,
code,
dd {
    font-size: inherit;
    font-family: inherit;
}


/* layout 
#all
    #header
    #content
    #footer

*/

#all {
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content {
    flex-grow: 4;
    position: relative;
    padding: 2rem 2rem 5rem 2rem;
}

@media (min-width: 992px) {
    body {
        font-size: 16px;
    }
    .container {
        max-width: 900px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
    .container {
        max-width: 1100px;
    }
}

@media (min-width: 1500px) {
    body {
        font-size: 21px;
    }
    .container {
        max-width: 1400px;
    }
}

#content .container {
    margin-left: auto;
    margin-right: auto;
}

main article {
    background-color: var(--bg);
    width: 100%;
}

#footer {
    width: 100%;
    background-color: var(--bg2);
    color: var(--text2);
}

body {
    font-family: sans-serif;
    background-color: var(--bglo);
    color: var(--text);
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


/* Global layout */

html,
body {
    height: 100%;
    position: relative;
}

body {
    overflow-y: scroll;
}


/* */

div.banner {
    position: relative;
    color: var(--bg2);
}

div.banner img.banner {
    display: block;
    width: 100%;
}

div.banner .title {
    font-size: 4vw;
    position: absolute;
    font-weight: bold;
    top: 14px;
    left: 14px;
    color: var(--bg2lo);
    text-shadow: 0px 0px 1em var(--bglo);
}

div.banner .moto {
    font-size: 1.5vw;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    color: var(--bg2);
    padding: 0.5ex 1em;
    background-color: var(--bgloa);
    box-shadow: 0px 0px 0.5ex var(--bglo);
}

#header {
    background-color: var(--bg2);
    color: var(--text2);
}

#page {
    position: relative;
    margin: 2rem 2rem;
}

#body {
    position: relative;
    display: flex;
}

#aside {
    background-color: var(--bg3);
    color: var(--text3);
    padding: 1rem 0 1rem 1rem;
}

#main {
    background-color: var(--bg);
    color: var(--text);
    position: relative;
}

#main>header {
    padding: 1rem;
    background-color: var(--link);
    color: var(--bg);
    position: relative;
    position: -webkit-sticky;
    position: sticky;
}

#main>header h1 {
    margin: 0;
}

main article {
    padding: 1rem;
}


/** simple tags */

a {
    color: var(--link);
}

nav.tabs {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 2rem 0 2rem;
}

nav.tabs a,
nav.tabs {
    color: var(--text2);
}

nav.tabs a.tab {
    display: block;
    text-decoration: none;
    padding: 0.2rem 0.5rem 0.7rem 0.5rem;
    font-variant: small-caps;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

nav.tabs a.tab.selected,
nav.tabs a.tab:hover {
    background-color: var(--bglo);
    color: var(--bg2);
    text-decoration: none;
}

nav.tabs form.selected {
    background-color: var(--bglo);
    color: var(--bg2);
}

form.qform {
    padding: 0 1ex;
}

form.qform div {
    white-space: nowrap;
    text-align: center;
}

textarea:focus,
input:focus {
    outline: none;
}

form.qform input.q {
    width: 25ex;
    border: none;
    padding: 4px 1ex 3px 1ex;
}

#logos {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#logos>* {
    display: block;
    width: 100%;
    padding: 1rem;
}

.kwict {
    padding-left: 15em;
}

.kwicl {
    width: 30em;
    display: inline-block;
    text-align: right;
    padding-right: 0.5em;
}

td.nb {
    text-align: right;
    padding-right: 1rem;
}

p {
    text-indent: 2rem;
    margin: 0;
}

div.lg {
    margin: 1rem 0 1rem 2rem;
}

div.l {
    margin: 1rem 0 1rem 2rem;
}

div.lg div.l {
    margin: 0;
}


/* biblio */

span.editor {
    color: var(--link);
}


/* doc.php */

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul ul {
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
}

span.pb[data-page]::before {
    color: var(--textlo);
    content: " [p." attr(data-page) "]";
    display: block;
    text-align: right;
}

wbr.milestone[data-n]::after {
    content: " (" attr(data-n) ") ";
    display: inline;
    margin: 1em;
}

span.lb::before {
    white-space: pre;
    content: '\A';
}

span.pb[data-line]::after,
span.lb[data-line]::after {
    text-indent: 0;
    font-size: 0.7rem;
    font-weight: normal;
    display: inline-block;
    content: attr(data-line) " ";
    width: 2rem;
    color: var(--textlo);
}

div.toc {
    background-color: var(--bg3);
    color: var(--bg2);
    padding: 1rem 0 10vh 1rem;
}

div.toc a {
    display: block;
    padding: 0.1rem 1rem;
}

div.toc a:hover {
    background-color: var(--bg);
    color: var(--text);
}

div.toc a.selected {
    background-color: var(--bg);
    color: var(--text);
}

div.toc a.selected:hover {
    color: var(--link);
}

div.toc a small {
    color: var(--text);
}

div.doc {
    width: 40em;
    background-color: var(--bg);
    color: var(--text);
    position: relative;
    padding: 0 0 10vh 0;
}

div.text {
    background-color: var(--bg);
    padding: 1rem;
}


/* generated title */

h1.title {
    background-color: var(--bg2);
    color: var(--text2);
    margin: 0;
    padding: 0.5rem 2rem;
    text-align: center;
    font-size: 115%;
    font-weight: 500;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

h1.title * {
    color: inherit;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

div.reader {
    position: relative;
    display: flex;
}

div.reader div.prev,
div.reader div.next {
    width: 5rem;
}

div.reader div.prev a,
div.reader div.next a {
    display: table-cell;
    vertical-align: middle;
    font-size: 10rem;
    text-decoration: none;
    color: #ccc;
    height: 100%;
    position: fixed;
}

div.reader div.prev a:hover,
div.reader div.next a:hover {
    background-color: #fff;
}


/** biblio */

div.edition {
    color: var(--text);
}

.edition a {
    display: block;
    text-decoration: none;
    padding: 0.1rem 1rem;
    color: inherit;
    font-weight: normal;
}

div.edition a:hover {
    display: block;
    background-color: var(--bghi);
    color: var(--texthi);
}

div.edition a:hover * {
    color: inherit;
}


/** Concordance */

div.conc {
    background-color: var(--bg);
}

div.conc header {
    padding: 1rem;
}

h4.doc {
    margin: 0.5rem 0;
    font-weight: normal;
}

h4.doc a {
    display: block;
    padding: 0 1rem;
    background-color: var(--bg2);
    color: var(--text2);
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

h4.doc a * {
    color: inherit;
}

h4.doc a:hover {
    border-bottom: 1px solid;
}

.doc a:hover {
    color: var(--text2hi);
}


/** table of words */

table.freqs {
    background-color: var(--bg);
}

td.orth a,
td.lem a {
    display: block;
    text-decoration: none;
    padding: 0 1rem;
}

td.orth a:hover,
td.lem a:hover {
    color: var(--bg);
    background-color: var(--link);
}